/* RESET DASAR */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HTML & BODY */
html,
body{
    bakground: red;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}

/* AREA UTAMA */
.container{
    width: 100%;

    /* batas maksimal biar enak di HP */
    max-width: 480px;

    /* center */
    margin: 0 auto;

    /* jarak samping */
    padding-left: 16px;
    padding-right: 16px;

    /* jarak atas bawah */
    padding-top: 20px;
    padding-bottom: 20px;

    min-height: 100vh;
}

/* RESPONSIVE TAMBAHAN */
img{
    max-width: 100%;
    height: auto;
}

input,
button,
textarea,
select{
    width: 100%;
    font-size: 16px;
}
.h1 {
    font-weight: 800;
}

